div#dashboard {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leaflet-popup-content-wrapper{
  height: 350px;
}

#finestraTarja{
  width:100%!important;
  height:100vh!important;
}
#finestraTweeter{
  width:100%!important;
  height:50vh!important;
}


.titol{
  font-family:sans-serif;
  font-size: 1em;
  font-weight:bold;
  padding: 10px 5%;
  height: 100px;
  color:#BF0000;
}



.subtitol{
  font-size: 0.8em;
  padding: 0 5%;
}


#targeta{
   float:left;
   height: 500px;
   width:350px!important;
   background-color: white;
   margin: 1rem!important;
   box-shadow: 2px 2px 5px 2px #CACACA;
   padding:0 5px 0 5px;
   border: 1px solid #CABABA;
   cursor:pointer !important;
}

#targeta:hover {
  box-shadow: rgba(0, 0, 0, 1) 2px 8px 16px 3px!important;
}

element.style {
    width: 300px;
    box-shadow: 0 0 20px red;
    padding: 5px;
}

.imatge{
     height: 175px;
     padding:5%;
}


.btn{
    height: 30px;
    margin: 2px 0px;
}

.url{
   font-weight: bold;
   font-size:120%;
   color:#BF0000;
    text-decoration: none;
}

.nourl{
   font-weight: bold;
   font-size:120%;
   pointer-events: none;
   cursor: default;
   text-decoration:none;
   color:black;
}

a:visited {
    text-decoration: none;
    color: #BF0000;
}

        .titolBlau {
          text-align:center;
          font-size:2.5vmin;
          color:firebrick;
        }
        .div-comu {
          display:flex;
          flex-direction:column;
        }
        .div-caixa {
          border-style:solid;
          border-width:1px;
          border-color:lightgray;
        }
        .subIcons {
          display: flex;
          flex-wrap:wrap;
          align-items: center;
          justify-content: left;
          padding-left:5px;
        }
        .icona_blava {
          height:4vmin;
          padding-right:10px;
        }
.modal-footer {
       visibility:hidden!important;
}
#modalHeaderTarja {
       font-size:3vmin;
}
#Capçalera {
     display:none !important;
}
